<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">

</head>
<body ng-controller = "RegCtrl as regCtrl">

    <div class="container">
        <div class="header">
            <h1>Registration Form</h1>
        </div>

        <form name="regForm" novalidate>
            <div class="form-group">
                <label>Name:</label>
                <input type="text" name="name" class="form-control" ng-model="regCtrl.regParticular.name" required>
                <div class="validation alert-danger" data-ng-show="regForm.name.$touched || regForm.name.$dirty">
                    <div data-ng-show="regForm.name.$error.required">
                        <span class="glyphicon glyphicon-alert">Above is a mandatory field</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>D.O.B:</label>
                <input type="date" name="dob" class="form-control" ng-model="regCtrl.regParticular.dob" required>
                <div class="validation alert-danger" data-ng-show="regForm.dob.$touched || regForm.dob.$dirty">
                    <div data-ng-show="regForm.dob.$error.required">
                        <span class="glyphicon glyphicon-alert">Above is a mandatory field</span>
                    </div>
                    <div data-ng-show="regCtrl.ageCal < 18">
                        <span class="glyphicon glyphicon-alert">You must be 18 years old to register</span>
                    </div>
                </div>
            </div>

            <div class="radio-inline">
                <label>Gender:</label>
                <div class="radio-inline">
                    <input type="radio" name="gender" value = "Male" ng-model="regCtrl.regParticular.gender">Male
                </div>
                <div class="radio-inline">
                    <input type="radio" name="gender" value = "Female" ng-model="regCtrl.regParticular.gender">Female
                </div>
                <div class="validation alert-danger" data-ng-show="regForm.gender.$touched || regForm.gender.$dirty">
                    <div data-ng-show="regForm.gender.$error.required">
                        <span class="glyphicon glyphicon-alert">Above is a mandatory field</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Email:</label>
                <input type="email" name="email" class="form-control" ng-model="regCtrl.regParticular.email" required>
                <div class="validation alert-danger" data-ng-show="regForm.email.$touched || regForm.email.$dirty">
                    <div data-ng-show="regForm.email.$error.required">
                        <span class="glyphicon glyphicon-alert">Above is a mandatory field</span>
                    </div>
                    <div data-ng-show="regForm.email.$error.email">
                        <span class="glyphicon glyphicon-alert"> Please enter a valid email</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Contact Number:</label>
                <input type="text" name="contact" class="form-control" ng-model="regCtrl.regParticular.contact"
                       ng-pattern="/([0-9\s\-]{7,})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/" required>
                <div class="validation alert-danger" data-ng-show="regForm.contact.$touched">
                    <div data-ng-show="regForm.contact.$error.required">
                        <span class="glyphicon glyphicon-alert">Above is a mandatory field</span>
                    </div>
                </div>
                <div class="validation alert-danger" data-ng-show="regForm.contact.$dirty">
                    <div data-ng-show="regForm.contact.$invalid">
                        <span class="glyphicon glyphicon-alert">Please only use numbers, parentheses, + and -</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Country:</label>
                <input type="text" name="country" class="form-control" ng-model="regCtrl.regParticular.country" required>
                <div class="validation alert-danger" data-ng-show="regForm.country.$touched || regForm.country.$dirty">
                    <div data-ng-show="regForm.country.$error.required">
                        <span class="glyphicon glyphicon-alert">Above is a mandatory field</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Address:</label>
                <input type="text" name="address" class="form-control" ng-model="regCtrl.regParticular.address" required>
                <div class="validation alert-danger" data-ng-show="regForm.address.$touched || regForm.address.$dirty">
                    <div data-ng-show="regForm.address.$error.required">
                        <span class="glyphicon glyphicon-alert">Above is a mandatory field</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Password:</label>
                <input type="password" name="password" class="form-control" ng-model="regCtrl.regParticular.password" required>
                <div class="validation alert-danger" data-ng-show="regForm.password.$touched || regForm.password.$dirty">
                    <div data-ng-show="regForm.password.$error.required">
                        <span class="glyphicon glyphicon-alert">Above is a mandatory field</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn-success form-control" ng-disabled="regForm.$pending || regForm.$invalid"
                        ng-click="regCtrl.register()">Register
                </button>
                <div class="alert alert-success" role="alert" data-ng-show="regCtrl.success == true">
                    {{regCtrl.successMessage}}
                </div>
            </div>
        </form>
    </div>

</body>

<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/angular/angular.js"></script>
<script src="/index.js"></script>
</html>